{% extends 'admin/base.html' %}
{% load static %}
{% block description %}

{% endblock description %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-base-200">
    <div class="w-full max-w-md">
        <h1 class="text-4xl font-bold mb-4 text-white-900 text-center">User send mail</h1>
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-900 text-sm font-bold mb-2" for="subject">
                    Subject
                </label>
                <input id="subject" name="subject" required class="shadow border bg-white text-black rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label class="block text-gray-900 text-sm font-bold mb-2" for="markdown-editor">
                    Message
                </label>
                <textarea id="markdown-editor" name="markdown_content" class="shadow appearance-none border rounded w-full h-64 py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="flex items-center place-content-center">
                
                <button type="submit" style="background-color: blue; color: white; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                    Send Email
                </button>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde@2.15.0/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde@2.15.0/dist/easymde.min.js"></script>
<script>
    var easyMDE = new EasyMDE({ element: document.getElementById('markdown-editor') });
</script>
{% endblock content %}