{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Email Notification</title>
    <!-- Include Tailwind CSS and DaisyUI -->
    
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-gray-100 font-quicksand">
    <div class="container mx-auto p-4">

        <!-- Header with Logo -->
        <div class="bg-secondary text-white text-center p-4">
            <!-- Replace 'your-logo.png' with your organization's logo URL -->
            <img class="max-h-12 h-12 rounded-full shadow-lg object-cover" src="https://res.cloudinary.com/drjerwkgo/image/upload/v1709447023/ca4tbqmvdslielz6mofe.jpg" alt="E-commerce Logo">            <h1 class="text-2xl font-semibold">Your E-commerce</h1>
            <p class="text-sm">{{subject}}</p>
        </div>

        <!-- Content -->
        <div class="bg-inherit p-4 mt-4 shadow-md ">
            Dear {{user.username}}
            <div class="text-xl font-medium text-black">{{message}}</div>
            <!-- Additional Information or Instructions -->
            <div class="mt-4 text-sm text-gray-600">
                <p>
                    If you have any issues with the verification process, please contact our support team at
                    <a href="mailto:support@example.com" class="link link-success">support@example.com</a>.
                </p>
            </div>
            <!-- Footer -->
            <div class="mt-4 p-4 bg-secondary text-white text-center">
                <p class="text-lg">Thank you for shopping with us!</p>
                <p class="text-sm">&copy; <script>document.write(new Date().getFullYear());</script> Your E-commerce. All rights reserved.</p>
            </div>
        </div>
</body>

</html>