{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->
    <link href="{% static 'login.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasdig</title>
</head>

<body>
    <div class="container">
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor%}
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}
        <h1>Sign in</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-control">
                <input type="text" name='username' required />
                <label>Your Email</label>
            </div>
            <div class="form-control">
                <input type="password" name="password" required />
                <label>Your Password</label>
            </div>
            <button class="btn" type="submit" value="login">Submit</button>
            <input type="hidden" name="next" value="{{ next }}">
            <p class="text">Dont't have an account?
                <a href="{% url 'signup' %}">Create Account</a>
            </p>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    </div>
</body>

<script>
    const labels = document.querySelectorAll(".form-control label");

    labels.ForEach((label) => {
        label.innerHtml = label.innerText
            .split("")
            .map(
                (letter, idx) =>
                    `<span style="transition-delay:{idx * 50}ms">${letter}</span>`
            )
            .join("");
    });




</script>

</html>